$black: #1B1A1A;
$white: white;
$back: #ECE7E4; 
$beige: #645C55;
$color:  #403E3B;
$back_07: #F7F7F7;
$bcolr: #E5E5E5;
$contact: #CEC4BC;


$font-size_xxs: 4px;
$font-size_2xs: 10px;
$font-size_xs: 12px;
$font-size_s: 13px;
$font-size_sm: 14px;
$font-size_m: 15px;
$font-size_x: 16px;
$font-size_xl: 17px;
$font-size_1xl: 18px;
$font-size_1sxl: 20px;
$font-size_1xxl:23px;
$font-size_2xl: 24px;
$font-size_xxl: 28px;
$font-size_2xxl: 32px;
$font-size_3l: 39px;
$font-size_3lx: 40px;
$font-size_xxxl: 48px;



$breakpoint_xxl: 1440px;
$breakpoint_xl: 1024px;
$breakpoint_lg: 860px;
$breakpoint_md: 768px;
$breakpoint_s: 560px;
$breakpoint_sm: 425px;
$breakpoint_xs: 375px;